@import 'scss/reset';
@import 'scss/base';

body {
  background: #06458f;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: rgb(248, 248, 248);
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
    z-index: 10;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: #fff;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
    z-index: 40;
  }

  &:hover {
    &::after {
      transform: scale(1.1);
    }
  }

  button {
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 100;

    &::before {
      content: '';
      border-radius: 50%;
      border: 4px solid black;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.menu-open {
  nav {
    &::before {
      transform: scale(50);
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      background: #fff;
      border-radius: 50%;
      transition: transform 0.2s ease-in-out;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(248, 248, 248);
  z-index: 20;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .image,
  .list,
  .item {
    height: 100%;
  }

  .image {
    position: relative;

    .item  {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-position: center center;
    }
  }

  .item--1 {
  }

  .list {
    padding: 40px;

    .project--number {
      margin-bottom: 100px;
    }

    li {
      font-size: 40px;
      padding: 40px 0px;
    }
  }
}
