@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background: #fdfdfd;
}

.container {
  padding: 0 32px;
  max-width: 1440px;
  width: 100%;
}

@media (max-width: 750px) {
  .container {
    padding: 0 24px;
  }
}
